# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# 
# -----------------------------
# 📦 Dependencies
# -----------------------------
node_modules/

# -----------------------------
# ⚙️ Build / Output
# -----------------------------
dist/
build/
web-build/
.expo/
.expo-shared/

# -----------------------------
# 📱 Native builds
# -----------------------------
android/
ios/
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# -----------------------------
# 🧠 Metro / Cache
# -----------------------------
.metro-health-check*
.cache/
*.log

# -----------------------------
# 🧰 Debug / Logs
# -----------------------------
npm-debug.*
yarn-debug.*
yarn-error.*

# -----------------------------
# 🧩 Environment / Config
# -----------------------------
.env
.env.*
.env*.local
expo-env.d.ts
src/firebaseConfig.js

# -----------------------------
# 💻 OS / IDE files
# -----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.pem

# -----------------------------
# ⚡ TypeScript / Generated
# -----------------------------
*.tsbuildinfo
